.post-comment{
    padding:.3em 1em;

    .spacer{
        margin-left:10px;
    }
}


.post-input-comment-container{
    padding:.3em 1em;
    
        .post-input-comment{
            width:100%;
            padding:.5em;
            box-sizing: border-box;
        }

}